.App {
  text-align: center;
}

.add-jackal-container {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  height: 200px;
}

.add-jackal-form {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.jackal-name, .reasoning{
  font-size: 30px;
  height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
}

.reasoning {
  margin-bottom: 5px;
}

.submit-button {
  align-self: center;
  border: none;
  height: 50px;
  width: 200px;
}
