.App {
  text-align: center;
}

body {
  background-color: #ffdfb0;
}

button {
  cursor: pointer;
}

.add-jackal-container {
  background-color: #222;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  height: 200px;
}

.add-jackal-form {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.jackal-name, .reasoning{
  font-size: 30px;
  height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
}

.reasoning {
  margin-bottom: 5px;
}

.submit-button {
  align-self: center;
  background: #ffdfb0;
  border-top: 5px solid #ffc064;
  border-right: 5px solid #ffa868;
  border-bottom: 5px solid #ffc064;
  border-left: 5px solid #ffa868;
  color: #222;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  width: 200px;
}

.submit-button:hover {
  align-self: center;
  background: #ffa868;
  border-top: 5px solid #ffdfb0;
  border-right: 5px solid #ffc064;
  border-bottom: 5px solid #ffdfb0;
  border-left: 5px solid #ffc064;
  color: #222;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  width: 200px;
}

.jackal-container button {
  background-color: #222;
  border: none;
  border-radius: 10px;
  color: #ffdfb0;
  font-size: 20px;
  vertical-align: center;
  height: 50px;
  width: 175px;
}
.jackal-container button:hover {
  background-color: #222;
  border: none;
  border-radius: 10px;
  color: #cc0000;
  font-size: 20px;
  height: 50px;
  width: 175px;
}

.jackal-container h1 {
  font-size: 50px;
}

.link-to-jackal {
  text-decoration: none;
  color: #222;
}

.link-to-jackal:hover {
  text-decoration: none;
  color: #cc0000;
}
